.wrapper {
  display: grid; 
  grid-template-columns: 3fr 1fr; 
  grid-template-rows: auto; 
}

.main {
  grid-row: 1; 
  grid-column: 1; 
  justify-items: center; 
  background: rgb(106, 106, 247); 
  height: 500px;
}

.sidebar {
  grid-row: 1; 
  grid-column: 2; 
  justify-items: center; 
  align-items: center;
  background: rgb(116, 248, 116); 
  height: 500px;
}

.deckSelection {
  background: rgb(176, 245, 176); 
  height: 300px;
  width: auto;
  margin: 10px;
  
}

.deckActive {
  background: rgb(173, 173, 245); 
  height: 300px;
  width: auto;
  margin: 10px;
  padding: 10px;
}

.decks {
  background: rgb(141, 141, 141); 
  height: 50px;
  width: 50px;
  margin: 10px;
  display: inline-block;
}

.card-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-active:hover .card, .flip-active.hover .card {
  transform: rotateY(180deg);
}

.card-container, .front, .back {
	width: 50px;
	height: 50px;
}

/* flip speed goes here */
.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.appear {
  animation: appear .5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}


/* https://davidwalsh.name/css-flip */