 /* Variables */
:root {
  --card-radius: 10px;
}

.wrapper {
  display: grid; 
  grid-template-columns: 3fr 1fr; 
  grid-template-rows: auto; 
}

.main {
  grid-row: 1; 
  grid-column: 1; 
  justify-items: center; 
  background: rgb(106, 106, 247); 
  height: 500px;
}

.sidebar {
  grid-row: 1; 
  grid-column: 2; 
  justify-items: center; 
  align-items: center;
  background: rgb(116, 248, 116); 
  height: 500px;
}

.deckSelection {
  background: rgb(176, 245, 176); 
  height: 300px;
  width: auto;
  margin: 10px;
  
}

.deckActive {
  background: rgb(173, 173, 245); 
  height: 300px;
  width: auto;
  margin: 10px;
  padding: 10px;
}

.decks {
  background: rgb(141, 141, 141); 
  border-radius: var(--card-radius);
  height: 50px;
  width: 50px;
  margin: 10px;
  display: inline-block;
}

.card-container, .front, .back {
	width: 150px;
  height: 100px;
  border-radius: var(--card-radius);
  display: inline-block;
}

.card-container {
  margin: 10px;
}

.front, .back {
  text-align: center;
}

a {
  text-decoration: none; 
  margin: 2px;
  color: black; 
  border: 1px solid black; 
  padding: 2px;
  border-radius: var(--card-radius); 
}

.appear {
  animation: appear .5s forwards;
}

.disappear {
  animation: disappear .5s forwards;
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes disappear {
  0% { opacity: 1; }
  100% { opacity: 0; }
}